language: node_js
node_js:
  - "node"

addons:
  apt:
    packages:
      - xvfb

before_script: 'chmod a+x ./script/travis-build.sh'

script: ./script/travis-build.sh

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
