language: node_js
node_js:
  - "node"

addons:
  apt:
    packages:
      - xvfb
      - xvfb-run

before_script:
  - './node_modules/.bin/electron-rebuild'

script: ./script/travis-build.sh

env:
  - CXX=g++-4.8 DISPLAY=:99.0 ENVNAME=travis

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
