@import url(fonts/fonts.css);

* {
  overflow: hidden;
  font-family: "Source Code Pro", monospace, Terminal !important;
  font-size: 13px;
}

.xterm-viewport {
  overflow: hidden !important;
}

body {
  color: #111;
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0px;
}

h1 {
    text-align: center;
}

#terminal-container {
  padding: 1px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#terminal-container .terminal {
  background-color: #111;
  color: #fafafa;
}

#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}

#top, #bottom, #left, #right {
  background: green;
  position: fixed;
  z-index: 10;
}

#left, #right {
  top: 0; bottom: 0;
  width: 1px;
}

#top, #bottom {
  left: 0; right: 0;
  height: 1px;
}

#top { top: 0; }
#bottom { bottom: 0; }
#left { left: 0; }
#right { right: 0; }
