@import url(fonts/fonts.css);

* {
  overflow: hidden;
  font-family: "Source Code Pro", monospace, Terminal !important;
  font-size: 13px;
}

.xterm-viewport {
  overflow: hidden !important;
}

body {
  color: #111;
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0px;
}

h1 {
    text-align: center;
}

#terminal-container {
  margin: 0px;
  border: 1px solid green;
}

#terminal-container .terminal {
  background-color: #111;
  color: #fafafa;
}

#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}
